--
-- PostgreSQL database dump
--

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: receptionist_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                    NEW.updated_at = CURRENT_TIMESTAMP;
                    RETURN NEW;
                END;
                $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO receptionist_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointment_updates; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.appointment_updates (
    update_id integer NOT NULL,
    appointment_id integer,
    updated_fields jsonb NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.appointment_updates OWNER TO receptionist_user;

--
-- Name: appointment_updates_update_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.appointment_updates_update_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.appointment_updates_update_id_seq OWNER TO receptionist_user;

--
-- Name: appointment_updates_update_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.appointment_updates_update_id_seq OWNED BY public.appointment_updates.update_id;


--
-- Name: appointments; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.appointments (
    appointment_id integer NOT NULL,
    patient_id integer,
    first_name text NOT NULL,
    last_name text NOT NULL,
    date_of_birth text NOT NULL,
    contact_number text NOT NULL,
    preferred_treatment text NOT NULL,
    preferred_date text NOT NULL,
    preferred_time text NOT NULL,
    preferred_dentist text NOT NULL,
    status text DEFAULT 'booked'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.appointments OWNER TO receptionist_user;

--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.appointments_appointment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.appointments_appointment_id_seq OWNER TO receptionist_user;

--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.appointments_appointment_id_seq OWNED BY public.appointments.appointment_id;


--
-- Name: business_calls; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.business_calls (
    call_id integer NOT NULL,
    caller_name character varying(200) NOT NULL,
    company_name character varying(200),
    contact_number character varying(15) NOT NULL,
    purpose text NOT NULL,
    call_type character varying(20) DEFAULT 'other'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    contacted_at timestamp without time zone,
    CONSTRAINT chk_call_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'contacted'::character varying, 'resolved'::character varying])::text[]))),
    CONSTRAINT chk_call_type CHECK (((call_type)::text = ANY ((ARRAY['agent'::character varying, 'marketing'::character varying, 'maintenance'::character varying, 'supplier'::character varying, 'other'::character varying])::text[])))
);


ALTER TABLE public.business_calls OWNER TO receptionist_user;

--
-- Name: business_calls_call_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.business_calls_call_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.business_calls_call_id_seq OWNER TO receptionist_user;

--
-- Name: business_calls_call_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.business_calls_call_id_seq OWNED BY public.business_calls.call_id;


--
-- Name: business_inquiries; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.business_inquiries (
    id integer NOT NULL,
    caller_name character varying(255),
    company_name character varying(255),
    contact_info character varying(255),
    inquiry_details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    inquiry_reason text DEFAULT 'Not provided'::text NOT NULL,
    department_to_notify character varying(100) DEFAULT 'management'::character varying,
    chat_transcript text
);


ALTER TABLE public.business_inquiries OWNER TO receptionist_user;

--
-- Name: business_inquiries_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.business_inquiries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.business_inquiries_id_seq OWNER TO receptionist_user;

--
-- Name: business_inquiries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.business_inquiries_id_seq OWNED BY public.business_inquiries.id;


--
-- Name: business_logs; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.business_logs (
    log_id integer NOT NULL,
    caller_name text,
    company_name text,
    contact_number text,
    purpose text,
    full_call_notes text,
    logged_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.business_logs OWNER TO receptionist_user;

--
-- Name: business_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.business_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.business_logs_log_id_seq OWNER TO receptionist_user;

--
-- Name: business_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.business_logs_log_id_seq OWNED BY public.business_logs.log_id;


--
-- Name: cancellations; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.cancellations (
    cancellation_id integer NOT NULL,
    appointment_id integer,
    reason text,
    cancelled_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.cancellations OWNER TO receptionist_user;

--
-- Name: cancellations_cancellation_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.cancellations_cancellation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cancellations_cancellation_id_seq OWNER TO receptionist_user;

--
-- Name: cancellations_cancellation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.cancellations_cancellation_id_seq OWNED BY public.cancellations.cancellation_id;


--
-- Name: chat_transcripts; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.chat_transcripts (
    id integer NOT NULL,
    conversation_type character varying(50),
    transcript text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.chat_transcripts OWNER TO receptionist_user;

--
-- Name: chat_transcripts_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.chat_transcripts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_transcripts_id_seq OWNER TO receptionist_user;

--
-- Name: chat_transcripts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.chat_transcripts_id_seq OWNED BY public.chat_transcripts.id;


--
-- Name: complaints; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.complaints (
    complaint_id integer NOT NULL,
    complaint_category text NOT NULL,
    patient_name text NOT NULL,
    contact_number text NOT NULL,
    complaint_text text NOT NULL,
    treatment_name text,
    dentist_name text,
    treatment_date text,
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT complaints_complaint_category_check CHECK ((complaint_category = ANY (ARRAY['general'::text, 'treatment'::text])))
);


ALTER TABLE public.complaints OWNER TO receptionist_user;

--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.complaints_complaint_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.complaints_complaint_id_seq OWNER TO receptionist_user;

--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.complaints_complaint_id_seq OWNED BY public.complaints.complaint_id;


--
-- Name: consultations; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.consultations (
    consultation_id integer NOT NULL,
    appointment_id text,
    final_treatment text,
    consultation_fee integer DEFAULT 50,
    final_treatment_fee integer,
    extra_amount_charged integer,
    converted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.consultations OWNER TO receptionist_user;

--
-- Name: consultations_consultation_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.consultations_consultation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.consultations_consultation_id_seq OWNER TO receptionist_user;

--
-- Name: consultations_consultation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.consultations_consultation_id_seq OWNED BY public.consultations.consultation_id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    user_input text NOT NULL,
    bot_response text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conversations OWNER TO receptionist_user;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.conversations_id_seq OWNER TO receptionist_user;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.customers (
    customer_id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    date_of_birth date NOT NULL,
    contact_number character varying(15) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customers OWNER TO receptionist_user;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.customers_customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_customer_id_seq OWNER TO receptionist_user;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.customers_customer_id_seq OWNED BY public.customers.customer_id;


--
-- Name: dentists; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.dentists (
    dentist_id integer NOT NULL,
    name character varying(100) NOT NULL,
    specialization character varying(200) DEFAULT 'General Dentistry'::character varying,
    is_available boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.dentists OWNER TO receptionist_user;

--
-- Name: dentists_dentist_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.dentists_dentist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dentists_dentist_id_seq OWNER TO receptionist_user;

--
-- Name: dentists_dentist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.dentists_dentist_id_seq OWNED BY public.dentists.dentist_id;


--
-- Name: other_requests; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.other_requests (
    id integer NOT NULL,
    name text,
    contact text,
    transcript text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.other_requests OWNER TO receptionist_user;

--
-- Name: other_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.other_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.other_requests_id_seq OWNER TO receptionist_user;

--
-- Name: other_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.other_requests_id_seq OWNED BY public.other_requests.id;


--
-- Name: patient_orders; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.patient_orders (
    order_id integer NOT NULL,
    patient_id integer,
    first_name text,
    last_name text,
    contact_number text,
    product_name text NOT NULL,
    order_status text DEFAULT 'placed'::text,
    notes text,
    placed_by text DEFAULT 'management'::text,
    placed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.patient_orders OWNER TO receptionist_user;

--
-- Name: patient_orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.patient_orders_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.patient_orders_order_id_seq OWNER TO receptionist_user;

--
-- Name: patient_orders_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.patient_orders_order_id_seq OWNED BY public.patient_orders.order_id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.patients (
    patient_id integer NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    date_of_birth text NOT NULL,
    contact_number text NOT NULL,
    insurance_info text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.patients OWNER TO receptionist_user;

--
-- Name: patients_patient_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.patients_patient_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.patients_patient_id_seq OWNER TO receptionist_user;

--
-- Name: patients_patient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.patients_patient_id_seq OWNED BY public.patients.patient_id;


--
-- Name: session_data; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.session_data (
    session_id character varying(100) NOT NULL,
    customer_id integer,
    is_verified boolean DEFAULT false,
    intent character varying(50),
    collected_data jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone
);


ALTER TABLE public.session_data OWNER TO receptionist_user;

--
-- Name: session_notes; Type: TABLE; Schema: public; Owner: receptionist_user
--

CREATE TABLE public.session_notes (
    note_id integer NOT NULL,
    patient_id integer,
    note_type text DEFAULT 'supplier_update'::text,
    product_name text,
    order_status text,
    supplier_name text,
    company_name text,
    note_text text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.session_notes OWNER TO receptionist_user;

--
-- Name: session_notes_note_id_seq; Type: SEQUENCE; Schema: public; Owner: receptionist_user
--

CREATE SEQUENCE public.session_notes_note_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_notes_note_id_seq OWNER TO receptionist_user;

--
-- Name: session_notes_note_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: receptionist_user
--

ALTER SEQUENCE public.session_notes_note_id_seq OWNED BY public.session_notes.note_id;


--
-- Name: appointment_updates update_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointment_updates ALTER COLUMN update_id SET DEFAULT nextval('public.appointment_updates_update_id_seq'::regclass);


--
-- Name: appointments appointment_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointments ALTER COLUMN appointment_id SET DEFAULT nextval('public.appointments_appointment_id_seq'::regclass);


--
-- Name: business_calls call_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_calls ALTER COLUMN call_id SET DEFAULT nextval('public.business_calls_call_id_seq'::regclass);


--
-- Name: business_inquiries id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_inquiries ALTER COLUMN id SET DEFAULT nextval('public.business_inquiries_id_seq'::regclass);


--
-- Name: business_logs log_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_logs ALTER COLUMN log_id SET DEFAULT nextval('public.business_logs_log_id_seq'::regclass);


--
-- Name: cancellations cancellation_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.cancellations ALTER COLUMN cancellation_id SET DEFAULT nextval('public.cancellations_cancellation_id_seq'::regclass);


--
-- Name: chat_transcripts id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.chat_transcripts ALTER COLUMN id SET DEFAULT nextval('public.chat_transcripts_id_seq'::regclass);


--
-- Name: complaints complaint_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.complaints ALTER COLUMN complaint_id SET DEFAULT nextval('public.complaints_complaint_id_seq'::regclass);


--
-- Name: consultations consultation_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.consultations ALTER COLUMN consultation_id SET DEFAULT nextval('public.consultations_consultation_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: customers customer_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.customers ALTER COLUMN customer_id SET DEFAULT nextval('public.customers_customer_id_seq'::regclass);


--
-- Name: dentists dentist_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.dentists ALTER COLUMN dentist_id SET DEFAULT nextval('public.dentists_dentist_id_seq'::regclass);


--
-- Name: other_requests id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.other_requests ALTER COLUMN id SET DEFAULT nextval('public.other_requests_id_seq'::regclass);


--
-- Name: patient_orders order_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.patient_orders ALTER COLUMN order_id SET DEFAULT nextval('public.patient_orders_order_id_seq'::regclass);


--
-- Name: patients patient_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.patients ALTER COLUMN patient_id SET DEFAULT nextval('public.patients_patient_id_seq'::regclass);


--
-- Name: session_notes note_id; Type: DEFAULT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.session_notes ALTER COLUMN note_id SET DEFAULT nextval('public.session_notes_note_id_seq'::regclass);


--
-- Data for Name: appointment_updates; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.appointment_updates (update_id, appointment_id, updated_fields, updated_at) FROM stdin;
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--



--
-- Data for Name: business_calls; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.business_calls (call_id, caller_name, company_name, contact_number, purpose, call_type, status, notes, created_at, contacted_at) FROM stdin;
\.


--
-- Data for Name: business_inquiries; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--



--
-- Data for Name: business_logs; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.business_logs (log_id, caller_name, company_name, contact_number, purpose, full_call_notes, logged_at) FROM stdin;
\.


--
-- Data for Name: cancellations; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.cancellations (cancellation_id, appointment_id, reason, cancelled_at) FROM stdin;
\.


--
-- Data for Name: chat_transcripts; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.chat_transcripts (id, conversation_type, transcript, created_at) FROM stdin;
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.complaints (complaint_id, complaint_category, patient_name, contact_number, complaint_text, treatment_name, dentist_name, treatment_date, status, created_at) FROM stdin;
\.


--
-- Data for Name: consultations; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.consultations (consultation_id, appointment_id, final_treatment, consultation_fee, final_treatment_fee, extra_amount_charged, converted_at) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.conversations (id, user_input, bot_response, created_at) FROM stdin;
1	Hello	Hi, how can I help you today?	2026-01-14 15:48:54.304392
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.customers (customer_id, first_name, last_name, date_of_birth, contact_number, created_at, updated_at) FROM stdin;
1	John	Smith	1990-01-15	0412345678	2026-02-15 17:49:29.634681	2026-02-15 17:49:29.634681
2	John	Smith	1990-01-15	0412345678	2026-02-15 17:49:42.937134	2026-02-15 17:49:42.937134
\.


--
-- Data for Name: dentists; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.dentists (dentist_id, name, specialization, is_available, created_at, updated_at) FROM stdin;
1	Dr. Emily Carter	General Dentistry	t	2026-02-15 17:48:05.732064	2026-02-15 17:48:05.732064
2	Dr. James Mitchell	General Dentistry	t	2026-02-15 17:48:05.732064	2026-02-15 17:48:05.732064
3	Dr. Olivia Harper	General Dentistry	t	2026-02-15 17:48:05.732064	2026-02-15 17:48:05.732064
\.


--
-- Data for Name: other_requests; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.other_requests (id, name, contact, transcript, created_at) FROM stdin;
\.


--
-- Data for Name: patient_orders; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.patient_orders (order_id, patient_id, first_name, last_name, contact_number, product_name, order_status, notes, placed_by, placed_at, updated_at) FROM stdin;
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.patients (patient_id, first_name, last_name, date_of_birth, contact_number, insurance_info, created_at) FROM stdin;
1	Chris	Hamilton	15 October 2002	0444844983	\N	2026-02-21 14:54:46.836537
2	Tony	Stark	15th October 2004	0475791992	Medibank	2026-02-21 14:58:39.039926
3	Chris	Hamilton	15 September 2007	0478971257	Bupa	2026-02-22 01:19:59.547979
4	Emma	Watson	15th November 1999	0492891873	Bupa	2026-02-22 11:41:43.189287
5	Charlotte	Johnson	15 February 2002	0492391959	\N	2026-02-22 12:02:11.181802
6	Michael	Wheeler	15 September 1989	0472589178	\N	2026-02-22 17:11:59.719194
\.


--
-- Data for Name: session_data; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.session_data (session_id, customer_id, is_verified, intent, collected_data, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: session_notes; Type: TABLE DATA; Schema: public; Owner: receptionist_user
--

COPY public.session_notes (note_id, patient_id, note_type, product_name, order_status, supplier_name, company_name, note_text, created_at) FROM stdin;
\.


--
-- Name: appointment_updates_update_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.appointment_updates_update_id_seq', 1, false);


--
-- Name: appointments_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.appointments_appointment_id_seq', 7, true);


--
-- Name: business_calls_call_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.business_calls_call_id_seq', 1, false);


--
-- Name: business_inquiries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.business_inquiries_id_seq', 8, true);


--
-- Name: business_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.business_logs_log_id_seq', 1, false);


--
-- Name: cancellations_cancellation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.cancellations_cancellation_id_seq', 1, false);


--
-- Name: chat_transcripts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.chat_transcripts_id_seq', 1, false);


--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.complaints_complaint_id_seq', 1, false);


--
-- Name: consultations_consultation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.consultations_consultation_id_seq', 1, false);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.conversations_id_seq', 1, true);


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 2, true);


--
-- Name: dentists_dentist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.dentists_dentist_id_seq', 3, true);


--
-- Name: other_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.other_requests_id_seq', 1, false);


--
-- Name: patient_orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.patient_orders_order_id_seq', 1, false);


--
-- Name: patients_patient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.patients_patient_id_seq', 6, true);


--
-- Name: session_notes_note_id_seq; Type: SEQUENCE SET; Schema: public; Owner: receptionist_user
--

SELECT pg_catalog.setval('public.session_notes_note_id_seq', 1, false);


--
-- Name: appointment_updates appointment_updates_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointment_updates
    ADD CONSTRAINT appointment_updates_pkey PRIMARY KEY (update_id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (appointment_id);


--
-- Name: business_calls business_calls_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_calls
    ADD CONSTRAINT business_calls_pkey PRIMARY KEY (call_id);


--
-- Name: business_inquiries business_inquiries_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_inquiries
    ADD CONSTRAINT business_inquiries_pkey PRIMARY KEY (id);


--
-- Name: business_logs business_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.business_logs
    ADD CONSTRAINT business_logs_pkey PRIMARY KEY (log_id);


--
-- Name: cancellations cancellations_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_pkey PRIMARY KEY (cancellation_id);


--
-- Name: chat_transcripts chat_transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.chat_transcripts
    ADD CONSTRAINT chat_transcripts_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (complaint_id);


--
-- Name: consultations consultations_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_pkey PRIMARY KEY (consultation_id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: dentists dentists_name_key; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.dentists
    ADD CONSTRAINT dentists_name_key UNIQUE (name);


--
-- Name: dentists dentists_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.dentists
    ADD CONSTRAINT dentists_pkey PRIMARY KEY (dentist_id);


--
-- Name: other_requests other_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.other_requests
    ADD CONSTRAINT other_requests_pkey PRIMARY KEY (id);


--
-- Name: patient_orders patient_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.patient_orders
    ADD CONSTRAINT patient_orders_pkey PRIMARY KEY (order_id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (patient_id);


--
-- Name: session_data session_data_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.session_data
    ADD CONSTRAINT session_data_pkey PRIMARY KEY (session_id);


--
-- Name: session_notes session_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.session_notes
    ADD CONSTRAINT session_notes_pkey PRIMARY KEY (note_id);


--
-- Name: idx_business_created; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_business_created ON public.business_calls USING btree (created_at);


--
-- Name: idx_business_status; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_business_status ON public.business_calls USING btree (status);


--
-- Name: idx_business_type; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_business_type ON public.business_calls USING btree (call_type);


--
-- Name: idx_customers_contact; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_customers_contact ON public.customers USING btree (contact_number);


--
-- Name: idx_customers_full_lookup; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_customers_full_lookup ON public.customers USING btree (last_name, date_of_birth, contact_number);


--
-- Name: idx_customers_last_name_dob; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_customers_last_name_dob ON public.customers USING btree (last_name, date_of_birth);


--
-- Name: idx_session_customer; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_session_customer ON public.session_data USING btree (customer_id);


--
-- Name: idx_session_expires; Type: INDEX; Schema: public; Owner: receptionist_user
--

CREATE INDEX idx_session_expires ON public.session_data USING btree (expires_at);


--
-- Name: customers trigger_update_customers_updated_at; Type: TRIGGER; Schema: public; Owner: receptionist_user
--

CREATE TRIGGER trigger_update_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: dentists trigger_update_dentists_updated_at; Type: TRIGGER; Schema: public; Owner: receptionist_user
--

CREATE TRIGGER trigger_update_dentists_updated_at BEFORE UPDATE ON public.dentists FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: appointment_updates appointment_updates_appointment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointment_updates
    ADD CONSTRAINT appointment_updates_appointment_id_fkey FOREIGN KEY (appointment_id) REFERENCES public.appointments(appointment_id);


--
-- Name: appointments appointments_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(patient_id);


--
-- Name: cancellations cancellations_appointment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_appointment_id_fkey FOREIGN KEY (appointment_id) REFERENCES public.appointments(appointment_id);


--
-- Name: session_data fk_session_customer; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.session_data
    ADD CONSTRAINT fk_session_customer FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE CASCADE;


--
-- Name: patient_orders patient_orders_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.patient_orders
    ADD CONSTRAINT patient_orders_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(patient_id);


--
-- Name: session_notes session_notes_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: receptionist_user
--

ALTER TABLE ONLY public.session_notes
    ADD CONSTRAINT session_notes_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(patient_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO receptionist_user;


--
-- PostgreSQL database dump complete
--

\unrestrict VDW7WC2ltCYq7PPFrHVvCcBGryoYggtrVk85qYxebxYANLWJouAqgSq93d8Jdau

